# Firebase web app (ths-stitching-center)
VITE_FIREBASE_API_KEY="AIzaSyAhlrztV889VwA41xPGCdtCghoNlVytt1Q"
VITE_FIREBASE_AUTH_DOMAIN="ths-stitching-center.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="ths-stitching-center"
VITE_FIREBASE_STORAGE_BUCKET="ths-stitching-center.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="395800104196"
VITE_FIREBASE_APP_ID="1:395800104196:web:c306216f0eb1a6bbfb1451"
VITE_FIREBASE_MEASUREMENT_ID="G-C5FM5TW0K2"
